<div class="app-container">
  <div
    class="main-wrapper"
    [style.height]="hideMaxPlayer ? (hideMiniPlayer ? '100%' : '90%') : '0'"
  >
    @if (showAppComponents) {
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    }
    <div class="main-content">
      <app-main></app-main>
    </div>
  </div>
  @if (showAppComponents) {
  <div class="mini-player" [style.height]="!hideMiniPlayer ? '100%' : '10%'">
    <!-- @if (!hideMiniPlayer) { -->
    <app-media-player></app-media-player>
    <!-- } -->
  </div>
  }
</div>
<!-- @if (showAppComponents) {
<div class="max-player" [style.height]="!hideMaxPlayer ? '100%' : '0'">
  @if (!hideMaxPlayer) {
  <app-max-player @slideDown></app-max-player>
  }
</div>
} -->
